body {
	background-color: #D9E9FF;
	background-size: cover;
	text-align: center;
}
h1 {
	font-size: 50px;
	padding-top: 20px;
	color: #000;
}

.start {
	float: center;
}
p {
	color: #FF92BB;
}

#quiz-area {
	background: #2eb82e;
	margin-right: 180px;
	margin-left: 180px;
}

